
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body
{
    height: 100vh;
    background: linear-gradient( rgb(13, 181, 227), black);   
    
}

header
{
    height: 15vh; 
    margin-bottom: 0.5vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1vh 3vw;
}

.logo
{
    min-width:10vw;
    min-height: 95%; 
    border-radius: 50%;
}

.logo img
{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 50%;
}

.logo h2
{
    color: white;
}

.right-header
{
    display: flex;
    align-items: center;
}

.search
{
    min-width: 20vw;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid black;
    margin: 1.5vw;
}

.modes-btn
{
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.modes-btn i 
{
   font-size: 1.3rem;
}

.add-task
{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.add-task i 
{ 
   font-size: 1.8rem;
   color: white;
}

.add-task:hover i  
{  
   color: red;
}

.delete-btn
{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.delete-btn:hover i
{
    color: red;
}

.delete-btn i
{
    font-size: 1.4rem;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container
{
    width: 90%;
    height: 90%; 
}

.task
{
   padding: 2vh 25vw;
}

 .tasks
 {
    min-width: 25vw;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid black;
    margin: 1.5vw;
 }

 .tasks-container
 {
    padding: 3vh 25vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
    width: 95%;
 }

 .items-holder
 {
    width: 90%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8vh;
 }

 p
 {
    font-size: 1.4rem;
    color: white;
 }



 /*scroll style*/
 ::-webkit-scrollbar 
{
    width: 0.6vw;
    height: 3vh;
    margin-right: 2vw;
}

::-webkit-scrollbar-track
{
    background: transparent;
}

::-webkit-scrollbar-thumb
{
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
  background: #555;
 }

 /*js css */

 .modes
 {
    background: linear-gradient( rgb(32, 224, 32),black );
    color: white;
 }

 /*modalcss */

.modal-container
{
    display: none;
}
 .modal-background
 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
 }

 .Deleted-modal
 {
    position: fixed;
    top: 10vh; 
    height: fit-content;
    left: 35vw;
    right: 35vw;
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    text-align: center;
    animation: successAnimation 0.5s; 
 }

 .Deleted-modal i 
 {
    font-size: 12rem;
    color: rgb(102, 219, 102);
    animation: animateIcon 6s infinite;
 }

 /* @keyframes DeleteAnimation{

    from
    {
      transform: scale(0.5);
    }

    to
    {
        transform: scale(1);
    }
 } */

 .delete-Ok
 {
    font-size: 1.3rem;
    padding: 8px 12px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    position: absolute;
    right: 2vw;
    bottom: 1%;
    border: 2px solid rgb(102, 219, 102);
    background-color: rgb(102, 219, 102);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;    
 }


 .delete-Ok:hover
 {
    background-color: transparent;
    color: rgb(102, 219, 102);
 }

 .success-modal
 {
    position: fixed;
    top: 10vh; 
    height: fit-content;
    left: 35vw;
    right: 35vw;
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    text-align: center;
    animation: successAnimation 0.3s; 
 }

 @keyframes successAnimation
 {
    from 
    {
        top: 0;
        bottom: 100vh;
        opacity: 0.3;
    }
    to
    {
        top: 10vh; 
    }
 }

 .success-modal i 
 {
    font-size: 12rem;
    color: rgb(102, 219, 102);
    animation: animateIcon 6s infinite;
 }

 @keyframes animateIcon
 {
    from
    {
        opacity: 0.3;
    }
    to
    {
        opacity: 1;
    }
 }

 .ok
 {
    font-size: 1.3rem;
    padding: 8px 12px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    position: absolute;
    right: 2vw;
    bottom: 1%;
    border: 2px solid rgb(102, 219, 102);
    background-color: rgb(102, 219, 102);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;    
 }


 .ok:hover
 {
    background-color: transparent;
    color: rgb(102, 219, 102);
 }
 .text
 {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    margin-top: 1.5vh;    
 }

 .confirmation-modal
 {
    position: fixed;
    top: 10vh; 
    height: fit-content;
    left: 35vw;
    right: 35vw; 
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    text-align: center;
    display: none;
    box-shadow: 0 0 4px black;
    animation: successAnimation 0.5s;
 }

 .confirmation-modal i 
 {
    font-size: 12rem;
    color: rgb(224, 42, 42);
    animation: Delete 1.3s;
 }

 @keyframes Delete 
 {
    from
    {
        transform: rotate(60deg);
    }
    to
    {
        transform: rotate(0deg);
    }
 }

 .buttons
 {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.yes
{
    font-size: 1.3rem;
    padding: 8px 12px;
    border-radius: 12px;
     background-color: rgb(224, 42, 42);
     border: 2px solid rgb(224, 42, 42);
     color: white;
     cursor: pointer;
     transition: 0.5s;
}

.yes:hover
{
    background-color: transparent;
    color: red;
}

.no
{ 
    font-size: 1.3rem;
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid rgb(102, 219, 102);
    background-color: rgb(102, 219, 102);
     color: white;
     cursor: pointer;
     transition: 0.5s;
}

.no:hover
{
    background-color: transparent;
    color: rgb(102, 219, 102);
}
